@import "var.scss";
.consult {
}
.consult_wrap {
	
}
@media (max-width:575px) {
	.consult_wrap{
		padding: 0;
	}
}
.consult_wrap_wrapper{
	background-color: $pi;
	border-radius: 24px;
}
.consult_content{
	max-width: 600px;
	margin: 0 auto;
	padding: 80px 16px 96px; 
}
.consult_title {
	margin-bottom: 16px;
	p{
		font-size: 32px;
		font-weight: 500;
		line-height: 32px;
		text-align: center;
	}
}
@media (max-width:575px) {
	.consult_title{
		margin-bottom: 8px;
		p{
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
		}
	}
}
.consult_subtitle {
	margin-bottom: 32px;
	p{
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
	}
}
@media (max-width:575px) {
	.consult_subtitle{
		margin-bottom: 27px;
		p{
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}
	}
}
.consult_form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	input{
		width: 100%;
		height: 56px;
		padding-left: 20px;
		border-radius: 8px;
		background-color: #fff;
		margin-bottom: 16px;
		font-size: 20px;
		font-weight: 500;
		line-height: 20px;
	}
}
@media (max-width:575px) {
	.consult_form{
		input{
			font-size: 16px;
			font-weight: 400;
			line-height: 16px;
		}
	}
}
.consult_form_btn {
	width: 220px;
	height: 56px;
	background-color: $gr;
	color: $w;
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	border-radius: 40px;
	cursor: pointer;
	transition: 0.3s;
	margin-top: 24px;
	&:hover{
		transform: scale(0.95);
	}
	span{
		margin-left: 10px;
		transform: translateY(2px);
		display: inline-block;
		img{
			display: inline-block;
		}
	}
}
@media (max-width:575px) {
	.consult_form_btn{
		font-size: 16px;
		font-weight: 500;
		line-height: 16px;
		span{
			transform: translateY(4px);
		}
	}
}