@import url("../fonts/Graphik/stylesheet.css");
*,
*:before,
*:after,
*:focus {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Graphik LCG", sans-serif;
  position: relative;
}

.techology_header {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 575px) {
  .techology_header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.techology_header_text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 935px;
          flex: 0 1 935px;
  margin-right: 20px;
}

.techology_title {
  margin-bottom: 16px;
}

@media (max-width: 575px) {
  .techology_title {
    margin-bottom: 8px;
  }
}
.techology_subtitle p {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

@media (max-width: 991px) {
  .techology_subtitle p {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media (max-width: 575px) {
  .techology_subtitle p {
    font-size: 14px;
  }
}
.techology_header_pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 145px;
          flex: 0 0 145px;
  height: 135px;
}
.techology_header_pic img {
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .techology_header_pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 112px;
            flex: 0 0 112px;
    height: 104px;
  }
}
@media (max-width: 575px) {
  .techology_header_pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    height: 57px;
  }
}
.techology_tabs {
  margin-bottom: 64px;
}

@media (max-width: 991px) {
  .techology_tabs {
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .techology_tabs {
    margin-bottom: 32px;
  }
}
.techology_tabs_headers {
  margin-bottom: 24px;
  overflow: auto;
  scrollbar-width: none;
}
.techology_tabs_headers::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.techology_tabs_headers_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1290px;
}

.techology_tabs_headers_item {
  margin-right: 8px;
  padding: 10px 24px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.techology_tabs_headers_item:last-child {
  margin: 0;
}
.techology_tabs_headers_item.active {
  color: #ffffff;
  background-color: #38AB57;
}

.techology_tabs_contemt {
  border-radius: 24px;
  position: relative;
  overflow: hidden;
}

.techology_tabs_contemt_item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.techology_tabs_contemt_item.active {
  position: relative;
  opacity: 1;
  visibility: visible;
  z-index: 0;
}

@media (max-width: 767px) {
  .techology_tabs_contemt_item {
    display: block;
  }
}
.techology_tabs_contemt_item_pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 917px;
          flex: 0 1 917px;
}
.techology_tabs_contemt_item_pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.techology_tabs_contemt_item_text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 523px;
          flex: 0 0 523px;
  background-color: #F8F3F3;
  padding: 64px;
}

@media (max-width: 991px) {
  .techology_tabs_contemt_item_text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 417px;
            flex: 0 0 417px;
    padding: 44px 40px;
  }
}
.techology_tabs_contemt_item_paragraph {
  margin-bottom: 55px;
}
.techology_tabs_contemt_item_paragraph:last-child {
  margin: 0;
}

@media (max-width: 991px) {
  .techology_tabs_contemt_item_paragraph {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .techology_tabs_contemt_item_paragraph {
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .techology_tabs_contemt_item_paragraph {
    margin-bottom: 18px;
  }
}
.techology_tabs_contemt_item_name {
  margin-bottom: 4px;
}
.techology_tabs_contemt_item_name p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #666666;
}

@media (max-width: 575px) {
  .techology_tabs_contemt_item_name p {
    font-size: 12px;
    line-height: 1.2;
  }
}
.techology_tabs_contemt_item_title {
  margin-bottom: 8px;
}
.techology_tabs_contemt_item_title p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 575px) {
  .techology_tabs_contemt_item_title p {
    font-size: 16px;
  }
}
.techology_tabs_contemt_item_list {
  padding-left: 20px;
}
.techology_tabs_contemt_item_list li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  list-style-type: disc;
}
.techology_tabs_contemt_item_list li:last-child {
  margin: 0;
}

@media (max-width: 575px) {
  .techology_tabs_contemt_item_list li {
    font-size: 14px;
    line-height: 1.2;
  }
}
.techology_row {
  margin-bottom: 120px;
}

@media (max-width: 1200px) {
  .techology_row {
    margin-bottom: 100px;
  }
}
@media (max-width: 991px) {
  .techology_row {
    margin-bottom: 60px;
  }
}
@media (max-width: 575px) {
  .techology_row {
    margin-bottom: 40px;
  }
}
.row_tri {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 75px 1fr 75px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 75px;
}

@media (max-width: 991px) {
  .row_tri {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 48px;
  }
}
@media (max-width: 575px) {
  .row_tri {
    gap: 32 px;
  }
}
.row_tri_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row_tri_item_pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  margin-right: 32px;
}
.row_tri_item_pic img {
  width: 100%;
}

@media (max-width: 1200px) {
  .row_tri_item_pic {
    margin-right: 16px;
  }
}
@media (max-width: 767px) {
  .row_tri_item_pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    margin-right: 14px;
  }
}
@media (max-width: 575px) {
  .row_tri_item_pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32px;
            flex: 0 0 32px;
    margin-right: 16px;
  }
}
.row_tri_item_content_header {
  margin-bottom: 12px;
}
.row_tri_item_content_header p {
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  color: #FF6B30;
}

@media (max-width: 1200px) {
  .row_tri_item_content_header p {
    font-size: 24px;
    line-height: 1;
  }
}
.row_tri_item_content_text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 575px) {
  .row_tri_item_content_text p {
    font-size: 14px;
    line-height: 1.2;
  }
}
.techology_care {
  background-color: #38AB57;
  border-radius: 24px;
  padding: 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .techology_care {
    padding: 32px 20px;
  }
}
.techology_care_pic {
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}
.techology_care_pic img {
  width: 100%;
  height: 100%;
}

@media (max-width: 575px) {
  .techology_care_pic {
    margin-bottom: 14px;
  }
}
.techology_care_title {
  margin-bottom: 16px;
}
.techology_care_title p {
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 991px) {
  .techology_care_title {
    margin-bottom: 8px;
  }
  .techology_care_title p {
    font-size: 24px;
    line-height: 1;
  }
}
.techology_care_text {
  max-width: 833px;
  width: 100%;
}
.techology_care_text p {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 991px) {
  .techology_care_text {
    max-width: 560px;
  }
  .techology_care_text p {
    font-size: 16px;
    line-height: 1.2;
  }
}